
<h1>Welcome to <%= @crm_app_name %></h1>
<p><%= Time.now.to_s %></p>
<h2>Main menu</h2>

<li><a href="/contacts">View all contacts</a></li>
<li><a href="/modify">Modify all contacts</a></li>
<li><a href="/delete">Delete a contact</a></li>
<li><a href="/attributes">Select an Attribute</a</li>

<footer>Made by Dai Andrade</footer>

<body>
	<div id="wrapper">
		<div id="header"></div>
		<div id="content"></div>
		<div id="footer"></div>
	</div>
</body>




  <!-- please complete me with links to other actions -->
</ul>