
<h1>Welcome to <%= @crm_app_name %></h1>
<h2>Main menu</h2>

<li><a href="/">Home</a></li>
<li><a href="/contacts">View all contacts</a></li>
<li><a href="/contacts/new">Add contact</a></li>


<footer><center>Made by Dai Andrade</center></footer>

<body>
	<div id="wrapper">
		<div id="header"></div>
		<div id="content"></div>
		<div id="footer"></div>
	</div>
</body>




  <!-- please complete me with links to other actions -->
</ul>