<!DOCTYPE html>

<html>
<head>	

	<link rel="stylesheet" type= "text/css" href="style.css">
</h1>

<title>
	Customer Relantioship APP
</title>
</head>

<body>

<!-- <h2> 
	<img src="http://cdn2.hubspot.net/hub/53955/file-14512890-jpg/images/crm-software-vendors.jpg">
</h2> -->

<%= yield %>

</body>


</html>	